<!DOCTYPE html>

<title>Test App</title>
<link  href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}" rel="stylesheet">



</div>

<div class="container">
	<div class="jumbotron text-center">
	<h1>My References</h1>
	</div>
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<h3>Learning about flask...</h3>
			<h5>
				What is flask?
				Flask is a web framework. This means flask provides you with tools, libraries and technologies that allow you to build a web application. This web application can be some web pages, a blog, a wiki or go as big as a web-based calendar application or a commercial website... <a href="http://pymbook.readthedocs.org/en/latest/flask.html?highlight=images">Read more</a>
			</h5>

		</div>

		<div class="col-md-4 col-xs-4">
			<h3>Getting flask installed...</h3>
			<h5>
				Installation: Flask depends on two external libraries, Werkzeug and Jinja2. Werkzeug is a toolkit for WSGI, the standard Python interface between web applications and a variety of servers for both development and deployment. Jinja2 renders templates.... <a href="http://flask.pocoo.org/docs/0.10/installation/">Read more</a>
			</h5>

		</div>

		<div class="col-md-4 col-xs-4">
			<h3>Flask with Bootstrap and Jinja...</h3>
			<h5>
				This Flask tutorial covers the idea of templates and using Bootstrap for your styling / CSS needs.  First, we cover templates. The idea of templates is two-fold. First, you use templates so you can have one location for code that corresponds to your navbar, for example. If you had the navbar.... <a href="https://pythonprogramming.net/bootstrap-jinja-templates-flask/">Read more</a>
			</h5>
		</div>

		<div class="col-md-4 col-xs-4">
			<h3>Bootstrap...</h3>
			<h5>
				Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.  HTML5 doctypeBootstrap makes use of certain HTML elements and CSS properties that require the use of the HTML5 doctype. Include it at the beginning of all your projects.... <a href="http://pymbook.readthedocs.org/en/latest/flask.html?highlight=images">Read more</a>
			</h5>

		</div>

		<div class="col-md-4 col-xs-4">
			<h3>jQuery...</h3>
			<h5>
				The .prepend() and .prependTo() methods perform the same task. The major difference is in the syntax—specifically, in the placement of the content and target. With .prepend(), the selector expression preceding the method is the container into which the content is inserted.... <a href="http://api.jquery.com/prepend/">Read more</a>
			</h5>
		</div>

		<div class="col-md-4 col-xs-4">
			<h3>Stackoverflow ...</h3>
			<h5>
				I used stackoverflow to look up everything else inbetween... <a href="http://stackoverflow.com/search?q=flask">Read more</a>
			</h5>

		</div>










	<div class="row">
		<div class="col-md-12 col-xs-12">


		<a href="{{url_for('page1') }}"><button type="button" class="btn btn-primary">Click for page 1</button></a>
		</div>
	</div>

	</div>
</div>

